//Color for text
$color1: #444;
//Color for background
$color2: #fff;
//Percentage for text size in logos and titles
$bigtext: 400%;
//Percentage for text size in menus
$menutext: 150%;
//Percentage for text size in running text
$normaltext: 110%;